/* manage.css */
ul {
  list-style-type: none;
  padding: 0;
  scroll-behavior: auto;
  overflow-scrolling: auto;
}

li {
  display: flex;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  padding: 0;
  font-size: 28pt;
  font-weight: bold;
  justify-content: space-between; /* Align items on the right side */
  align-items: center; /* Vertically center the items */
}

button.edit {
  padding: 10px 20px;
  background-color: lightgrey;
  color: #ffffff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-left: auto; /* Push the button to the right */
  margin-right: 10px;
}

button.delete {
  padding: 10px 20px;
  background-color: red;
  color: #ffffff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button.edit:hover {
  background-color: darkgrey;
}

button.delete:hover {
  background-color: darkred;
}

h2 {
  font-size: 24px;
  color: #333333;
  margin-bottom: 20px;
}

li {

}
