{% extends 'index.html' %}

{% block title %}Manage Pizzas - Pizza Shop{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <div class="container-2">
        <form method="post" action="{% url 'create-pizza' %}">
            {% csrf_token %}
            <label for="name">Pizza Name:</label>
            <input type="text" name="name" id="name" required>

            <label for="toppings">Toppings:</label>
            {% for topping in toppings %}
                <input type="checkbox" name="toppings" id="{{ topping.id }}" value="{{ topping.id }}">
                <label for="{{ topping.id }}">{{ topping.name }}</label><br>
            {% endfor %}

            <button type="submit">Create Pizza</button>
        </form>
        {% if error %}
            <label for="error" class="centered-error">Errors: {{ error }}</label>
        {% endif %}    </div>
{% endblock %}
