{% extends 'index.html' %}

{% block title %}Manage Pizzas - Pizza Shop{% endblock %}

{% block content %}
    <h2>Manage Pizzas</h2>
    <ul>
        {% for pizza in pizzas %}
            <li>{{ pizza.name }}</li>
            <ul>
                {% for topping in pizza.toppings %}
                    <li>{{ topping.name }}</li>
                {% endfor %}
            </ul>
            <button onclick="location.href='{% url 'update-pizza' pizza.id %}'">Edit</button>
            <button onclick="location.href='{% url 'delete-pizza' pizza.id %}'">Delete</button>
        {% endfor %}
    </ul>

    <a href="{% url 'create-pizza' %}">Add New Pizza</a>
{% endblock %}